body {
    background-color: #F0FFF0;
    padding-top: 10px;
}

div {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    width: 300px;
    background-color: #FFFFFF;
    outline: 1px solid #2F4F4F;
    font-family: Arial;
    font-size: 11pt;
}

p {
    color: #1C1C1C;
}

.error {
	color: #FF0000;
	margin-top: 2px;
}